/* === Container === */
.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  /* padding: 4rem 5%; */
  padding: 10rem 2rem;
  /* background-color: var(--bg-color); */
  /* background-color: orchid; */
  background-color:var(--backone);
  height: 100vh;
}

/* === EXPERIENCE SECTION === */
.exp-cont {
  width: 100%;
  /* padding: 0 5%; */
  /* margin-bottom: 1rem; */
  display: flex;
  justify-content: center;
  /* align-items: flex-start; */
  /* text-align: left; */


  margin-bottom: -4rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: bold;
}

.education-titlee {
  font-size: 2.5rem;
  color: var(--main-color);
  /* border-bottom: 3px solid var(--main-color); */
  /* padding-bottom: 8px; */
  font-weight: bold;
  /* display: inline-block; */

  
  /* margin-bottom: 3rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: bold; */
}

.experience-section {
  width: 100%;
  padding: 1rem 5%;
  /* background-color: var(--bg-color); */
   /* background-color: darkgreen; */
  display: flex;
  justify-content: center;
}

.experience-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  background: #fff;
  border-left: 8px solid var(--main-color);
  border-radius: 1rem;
  padding: 2rem;
  width: 95%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-logo img {
  width: 150px;
  height: auto;
  border-radius: 1rem;
}

.experience-details {
  padding-top: 15px;
  margin-left: 50px;
  font-size: 1.1rem;
}

.experience-points {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
}

.experience-points li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  color: #444;
  line-height: 1.6;
}

.bullet-icon {
  width: 22px;
  height: 22px;
  margin-right: 0.8rem;
  object-fit: contain;
  border-radius: 50%;
  margin-top: -3px;
}



.sample-color{
  background-color: rgb(0, 42, 255);
  min-height: 40vh;
  
}

.company-name{
  font-weight: bold;
  font-size: 14px;
}

.job-title{
  font-weight: bold;
  font-size: 13px;

  /* margin-bottom: 3rem;
  text-align: center;
  font-size: 2.5rem;
  color: var(--main-color);
  font-weight: bold; */
}

.experience-duration{
  font-weight: bold;
  font-size: 12px;
}